.module {
  box-sizing: border-box;    
}

*, *:before, *:after {
  box-sizing: border-box;
}

.menu-column{
    background-color: firebrick;
    margin: 20px;
    position: relative;
}



.first{
    background-color: #ffaa72; 
    margin: 20px;
    padding: 20px;
    padding-right:0px;
    display: block;
    position: absolute;
    width: 48%;
    top:0;
    left:0;
}

.second{
background-color: #71fffa; 
    margin: 20px;
    padding: 20px;
    padding-left: 0;
    display: block;
    position: absolute;
    width: 48%;
    top:0;
    right:0;
}


.item-button {
    border: 2px black solid;
    background-color: aliceblue;
    padding: 10px;
}

.item-button h2{
    border: 1px black solid;
    margin-bottom: 0;
    text-align: left;
        
}

.item-button p {
    border: 1px black solid;
    margin-top: 0;
    text-align: left;
}


.item-category{
    background-color: blanchedalmond
}

.item-category h1 {
    margin-bottom: 0px;
    margin-top: 0px;
    border: 1px solid black;
    text-align: center;
    
}
.item-category p {
    margin-bottom: 0px;
    margin-top: 0px;
    border: 1px solid black;
    text-align: center;
}
















